<!--   Barra superior   -->
   <div class="fixed w-full p-2.5 border-b border-neutral-100 dark:border-neutral-700 bg-white dark:bg-neutral-900 backdrop-blur-md">
     <div class="flex flex-row justify-between container mx-auto max-w-7xl">
      <h1 class="font-bold text-3xl">Blog Full Stack</h1>
      <app-change-theme-btn />
     </div>
   </div>
<!--   Barra superior   -->
<!--   Content   -->
   <div class="container mx-auto max-w-7xl md:py-36 py-28 px-2.5 overflow-y-auto">
     <div class="flex flex-row justify-between">
       <h1 class="font-bold md:text-3xl text-2xl">Publicaciones recientes</h1>
       <p-button label="Nueva entrada" size="small" />
      </div>
      <p-divider />
   </div>
<!--   Content   -->
